= simple_form_for(@avatar, :html => { :class => "form-horizontal" } ) do |f|
  = f.file_field :picture
  = f.submit 'Update opic'

= simple_form_for(@avatar, :html => { :class => "form-horizontal" } ) do |f|
  = f.text_field :remote_picture_url
  = f.submit 'Fetch Remote opic'
