= bootstrap_flash
.opic-tabs-body.clearfix
  - if current_user.opted_out?
    .alert.alert-error
      .clearfix
        .pull-left= image_tag 'opt_out.png'
        .pull-left
          %h3 You are opted out of opic
          A default image will be served in place of your image
      .clearfix= link_to 'Opt back in', opt_in_path, :method => :put, :class => 'btn btn-large btn-primary'

  - else
    .span3
      %a.show_hide{ href: '#', rel: '#upload-opic-form'}
        .thumbnail
          %strong Update your Opic
          = image_tag 'upload.png'
          %p
            %small Upload from your computer

    .span3
      %a.show_hide{ href: '#', rel: '#remote-opic-form'}
        .thumbnail
          %strong Fetch Remote Opic
          = image_tag 'remote.png'
          %p
            %small Get an image from a URL

    - if current_user.has_gravatar?
      .span3
        = link_to use_gravatar_path, :method => :post do
          .thumbnail
            %strong Use your gravatar
            #gravatar-circle= image_tag current_user.gravatar_url(:default => default_url, :size => 150), :width => 92
            %p
              %small Import your gravatar

    .span3
      = link_to opt_out_path, :method => :put do
        .thumbnail
          %strong Opt Out of Opic
          = image_tag 'opt_out.png'
          %p
            %small Opt out of this service

    .row
      .span12
        #upload-opic-form
          %h3 Upload a picture
          = simple_form_for(@avatar, :html => { :class => "update-your-opic" } ) do |f|
            = f.file_field :picture, :class => 'input-block-level file-field'
            = f.button :submit, 'Update Opic'

        #remote-opic-form
          %h3 Insert the URL of a picture
          = simple_form_for(@avatar, :html => { :class => "fetch-remote" } ) do |f|
            = f.text_field :remote_picture_url, :class => 'input-block-level'
            = f.button :submit, 'Fetch Remote Opic'
