.opic-tabs-body.clearfix
  - if current_user.opted_out?
    .media.currently-opted-out
      .pull-left
        %i#opt-out-opic.ir
      .media-body
        %h3.media-heading You are currently opted out of Opic!
        %p The default avatar will be served in place of your Opic.
        = link_to 'Opt back in', opt_in_path, :method => :put, :class => 'btn btn-large btn-secondary'

  - else
    .row-fluid
      .span6.well
        %a.show_hide{ href: '#', rel: '#upload-opic-form'}
          %h4 Update your Opic
          %i#upload-opic.ir
          %p
            %small Upload from your computer

      .span6.well
        %a.show_hide{ href: '#', rel: '#remote-opic-form'}
          %h4 Fetch Remote Opic
          %i#fetch-remote-opic.ir
          %p
            %small Get an image from a URL

    .row-fluid
      - if current_user.has_gravatar?
        .span6.well
          = link_to use_gravatar_path, :method => :post do
            %h4 Use your Gravatar
            = image_tag current_user.gravatar_url(:default => default_url, :size => 150), :width => 150, :height => 150
            %p
              %small Import your Gravatar

      .span6.well
        = link_to opt_out_path, :method => :put do
          %h4 Opt Out of Opic
          %i#opt-out-opic.ir
          %p
            %small Opt out of this service

    .row
      .span12
        #upload-opic-form
          %h3 Upload a picture
          = simple_form_for(@avatar, :html => { :class => "update-your-opic" } ) do |f|
            = f.file_field :picture, :class => 'input-block-level file-field'
            = f.button :submit, 'Update Opic'

        #remote-opic-form
          %h3 Insert the URL of a picture
          = simple_form_for(@avatar, :html => { :class => "fetch-remote" } ) do |f|
            = f.text_field :remote_picture_url, :class => 'input-block-level'
            = f.button :submit, 'Fetch Remote Opic'
