= image_tag @avatar.picture.p50 
= image_tag @avatar.picture.s50
= image_tag @avatar.picture.p100 
= image_tag @avatar.picture.s100
= image_tag @avatar.picture.p150 
= image_tag @avatar.picture.s150
= image_tag @avatar.picture
