#osu-nav-bar-outer
  #osu-nav-bar-inner.clearfix
    %h2.visuallyhidden OSU Navigation Bar
    = link_to 'Skip to main content', '#main-content', :id => 'skip', :class => 'osu-semantic'
    %p#osu-site-title
      = link_to 'The Ohio State University', 'http://www.osu.edu/', :title => "The Ohio State University homepage", :class => 'ir'
    %nav#osu-nav-primary.osu-nav-main-navigation
      %h3.visuallyhidden Quick Links
      %ul.osu-nav-menu
        %li= link_to 'Help',  'http://www.osu.edu/help.php',  :title => "OSU Help"
        %li.even= link_to 'Buckeye Link', 'http://buckeyelink.osu.edu/', :title => "Buckeye Link"
        %li= link_to 'Map', 'http://www.osu.edu/map/',  :title => "Campus map"
        %li.even= link_to 'Find People',  'http://www.osu.edu/findpeople.php', :title => "Find people at OSU"
        %li= link_to 'Webmail', 'https://webmail.osu.edu/', :title => "OSU Webmail"
        %li.even= link_to 'Search Ohio State', 'http://www.osu.edu/search.php', :title => "Search Ohio State"