!!! 5
-# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
<!--[if lt IE 7]> <html lang="en" class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
%html{ :lang => "en" }
  <!--<![endif]-->
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= "#{content_for?(:title) ? yield(:title) : 'The Ohio State University Avatar Service'} | Opic"
    = csrf_meta_tags
    -# Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"

  %body

    .container
      = render('layouts/partials/osu-nav-bar.html')
      -# Alert for older versions of IE
      /[if lt IE 9]
        .alert.alert-block.alert-error
          %a.close{"data-dismiss" => "alert"}
            x
          %h4.alert-heading
            Warning!
          Your browser is <em>
          <![if IE 8]>
          old!</em> It was released in 2009!
          <![endif]> 
          <![if IE 7]>
          ancient!</em> It was released in 2006!
          <![endif]> 
          <![if lte IE 6]>
          ancient!</em> It was released in 2001!
          <![endif]> 
          %a{:href => "http://browsehappy.com/"}
            Upgrade to a different browser
          or
          %a{:href=> "http://www.google.com/chromeframe/?redirect=true"}
            install Google Chrome Frame
          to properly experience this site.
      .container-fluid.inner-container
        .row-fluid
          .span12.header-container
            %h1= link_to 'Welcome to Opic!', root_url, :title => "An Ohio State University Avatar Service"
            %p= link_to 'The Ohio State University Avatar Service', root_url
        .row-fluid#content-container
          .span12
            .row-fluid
              .span3.left-column
                %h2 Your Opic
                - if @current_avatar.present?
                  = image_tag @current_avatar.picture.p400, :class => "image-border"
                  %p This is your current Opic
                - else
                  = image_tag default_url, :class => "image-border"
                  %p This is the default avatar
              .span9.right-column
                %ul.nav.nav-tabs
                  %li{ :class => current_page?(root_url) ? 'active' : '' }= link_to 'Manage Opic', root_url
                  %li{ :class => current_page?(faq_url) ? 'active' : '' }= link_to 'FAQ', faq_url
                  
                = yield
      .container-fluid.footer-container
        .row-fluid
          .span12
            %footer
              %p &copy; #{Time.now.year}, ASC Technology Services. All rights reserved.
              %p= link_to 'Information for Developers', developers_url
    
    = javascript_include_tag "application"
